:root {
    /* rxlib */
    --rxlib-link: #6C757D;
    --rxlib-menu: #363636;
    --rxlib-telas: #FFFFFF;
    --rxlib-borda: #E0E0E0;
    --rxlib-fonte: #FFFFFF;
    --rxlib-sistema: #363636;
    /* principal */
    --rxlib-principal: #FDA227;
    --rxlib-principal-rgb-50: rgb(253, 161, 39, .5);
    --rxlib-principal-rgb-70: rgb(253, 161, 39, .7);
    /* navbar */
    --rxlib-navbar: #363636;
    --rxlib-navbar-fonte: #FFFFFF;
    --rxlib-navbar-active: #6D6D6D;
    --rxlib-navbar-gradient: #6D6D6D;
    /* tabela */
    --rxlib-tabela-listrado-rgb-25: rgba(0, 0, 0, 0.05);
}

a {
    text-decoration: none;
    color: var(--rxlib-link);
}

a:hover {
    text-decoration: none;
    color: var(--rxlib-link);
}