.rxlib-lista-componentes {
    margin-left: 1rem;
    margin-bottom: 3rem;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rxlib-lista-componentes p {
    margin-bottom: 0rem;
}